/**  ========== INIT ==========  **/

html {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: #040d21;
  background-image: "./assets/images/hero-glow.svg";
}

h1 {
  font-family: "VT323", monospace;
  text-align: center;
  margin-top: 50px;
  font-weight: normal;
  font-size: 90px;
  color: #fefeff;
}

h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Segoe UI", sans-serif;
  color: #fefeff;
}

.hero-glow {
  z-index: -1;
  top: 50%;
  left: 50%;
  width: 200%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  overflow: hidden !important;
  position: absolute !important;
  border-style: none;
}

button {
  cursor: pointer;
}

/**  ========== SPACE ==========  **/

/** Newpost only **/

.newpost-page .space .text p {
  width: 28ch;
}

/** Login & Register only **/

.login-page,
.register-page {
  overflow: hidden;
}

.login-page .space .text p {
  width: 42ch;
}

.register-page .space .text p {
  width: 43ch;
}

.login-other {
  text-align: center;
  font-family: Consolas, Monaco, "Courier New", monospace;
}

.login-other a {
  color: #00cfc8;
  text-decoration: none;
  font-family: Consolas, Monaco, "Courier New", monospace;
}

.login-other a:hover {
  font-weight: bold;
}

/** Posts Only **/

.space .post .title {
  font-size: 30px;
}

.space .post .content {
  font-size: 18px;
}

.space .post .author {
  color: #627597;
  font-weight: 600;
  font-family: Consolas, Monaco, "Courier New", monospace;
}

.space .post .date {
  color: #627597;
  text-align: right;
  font-weight: 600;
  font-family: Consolas, Monaco, "Courier New", monospace;
}

/** All spaces **/

.space .text {
  /*This part is important for centering*/
  display: flex;
  align-items: center;
  justify-content: left;
}

.space .text p {
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: Consolas, Monaco, "Courier New", monospace;
  font-weight: 600;
  font-size: 18px;
  color: #627597;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.space {
  display: block;
  align-self: center;
  margin: 0px auto 25px auto;
  padding: 20px;
  background-color: #0c162d;
  border: 1px solid #0c162d;
  border-radius: 10px;
}

.sp-small {
  width: 606px;
}

.sp-large {
  width: 1000px;
}

.space .label:first-child {
  margin-top: 0px;
}

.space .label {
  margin-top: 15px;
}

.space label {
  font-family: Consolas, Monaco, "Courier New", monospace;
  font-weight: 600;
  font-size: 18px;
  color: #00cfc8;
  margin-top: 15px;
}

.space input {
  font-family: Consolas, Monaco, "Courier New", monospace;
  font-size: 18px;
  color: #627597;
  background-color: transparent;
  border: 0px solid transparent;
  margin-left: 15px;
}

.space input:focus {
  outline: none;
}

.space ::placeholder {
  color: #627597;
  opacity: 1; /* Firefox */
}

.space :-ms-input-placeholder {
  color: #627597;
}

.space ::-ms-input-placeholder {
  color: #627597;
}

.space .password {
  margin-top: 15px;
}

.space button {
  font-family: Consolas, Monaco, "Courier New", monospace;
  margin-top: 30px;
  color: #0c162d;
  font-weight: bold;
  font-size: 18px;
  display: inline;
  background-color: #627597;
  border: 3px solid #627597;
  border-radius: 10px;
}

.space button:hover {
  color: #627597;
  background-color: #0c162d;
  border: 3px solid #627597;
  border-radius: 10px;
}

/**  ========== NAV ==========  **/

nav {
  padding-top: 10px 10px 10px 0px;
  font-weight: 500;
  background-color: #0c162d;
  padding: 15px 0px 15px 0px;
}
nav ul {
  justify-content: flex-start;
  list-style: none;
  margin: 0px auto 0px auto;
}
nav li {
  margin-left: 2vw;
  display: inline-flex;
  list-style: none;
  font-size: 18px;
}
nav li:first-child {
  margin-left: 0;
  border-left: none;
}
nav li a {
  text-decoration: none;
  color: #fefeff;
  transition: all 0.2s ease-in-out;
}
nav li a:hover {
  transform: scale(1.1);
  color: #57f287;
}

/** ========== POSTS ========== 

.posts {
  display: inline-block;
  justify-content: space-between;
}
.post-card {
  display: inline-flex;
  position: relative;
  align-items: flex-start;
  height: fit-content;
  max-height: 20vw;
  width: 40vw;
  border: 1px solid black;
  border-radius: 15px;
}
.post-title {
  text-align: center;
  font-weight: bold;
  color: black;
}
.post-content {
  margin-left: 1vw;
  display: block;
  color: black;
}
.post-date {
  font-size: smaller;
}
.post-img {
  width: 40%;
}

.Test {
  text-align: center;
  cursor: default;
}
**/
